
{% import 'macros.html' as macro%}
{% extends "base.html" %}

{% block content %}

  <div class="container all-pitches">
    <div class="row">
      <div class="col-md-9">
        {{ macro.displayPitchList(pitches) }}
      </div>
      
        <div class="category-section col-md-3">
          <div class="card">
          <h3 class="article-title text-center mt-4"><b>Pitch Categories</b></h3>
            <ul class="list-unstyled">     
              <li class="list-group-item"><a href="/categories/productpitch">Product Pitch</a></li>
              <li class="list-group-item"><a href="/categories/elevatorpitch">Elevator Pitch</a></li>
              <li class="list-group-item"> <a href="/categories/pickuplines">Pickup Line</a></li>
              <li class="list-group-item"><a href="/categories/randompitch">Random Pitch</a></li>
            </ul>
        </div>
      </div>
      
    </div>
  </div>
  
{% for pitches in pitches  %}
<p>{{ pitches.title }}</p>
<p>{{ pitches.content }}</p>
{% endfor %} 

 
{% endblock content %}



