{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="card">
      <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ url_for('static', filename='images/' + pitch.author.image_file)}}">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">{{ pitch.author.username }}</a>
            <small class="text-muted">{{ pitch.pub_date.strftime('%Y/%m/%d')}}</small>
            {% if pitch.author == current_user %}
              <div>
                <a href="{{ url_for('pitches.update_pitch', pitch_id=pitch.id)}}" class="btn btn-secondary btn-sm mt-1 mb-1">Update</a>
                <button type="button" class="btn btn-danger btn-sm ml-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
              </div>
            {% endif %}
          </div>
          <h2 class="article-title">{{ pitch.title }}</h2>
          <p class="article-content">{{ pitch.content }}</p>
        </div>
      </article>
    </div> 
    <div class="comment-form">
      <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4"> {{ legend }} </legend>
          <div class="form-group">
            {{ form.content.label (class="form-control-label") }}
            {% if form.content.errors %}
            {{ form.content (class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.content.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %} 
            {{ form.content (class="form-control form-control-lg") }}
            {% endif %}
          </div>
        </fieldset>
        <div class="form-group">
          {{ form.submit (class="btn btn-outline-info") }}
        </div>
      </form>
    </div>
  {% if comments %}  
  {% for comment in comments %}
    <div class="card">
      <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">{{ comment.author.username }}</a>
            <small class="text-muted">{{ comment.date_posted.strftime('%Y/%m/%d')}}</small>
          </div>
          <p class="article-content">{{ comment.content }}</p>
          <div>
            <i class="fa fa-comments"></i>
            <i class="fa fa-thumbs-up"></i>
            <i class="fa fa-thumbs-down"></i>
          </div>
        </div>
      </article>
    </div>
  {% endfor %}
  {% else %}
    <p> This post has no comments yet</p>
  {%endif%}
  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Are you sure you want to delete this pitch?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('pitches.delete_pitch', pitch_id=pitch.id) }}" method="POST">
            <input type="submit" class="btn btn-danger" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
   
{% endblock content %}


